<div ng-controller='contactCtrl'>

	<div class="row">
		<div class="col-xs-12 text-center">
			<h1 class="text-primary">Contact</h1>
			<h3 class="text-primary">“If I had asked people what they wanted, they would have said faster horses. ” - Henry Ford</h3>
		    <div class="divider" style="margin-bottom:50px; margin-left:25px; margin-right:50px; margin-top:40px"></div>
		</div>

	</div>

	<div class="row">
		<div class="col-sm-6">
			<ul style="list-style: none;">
				<li>
					<span class="fa-stack fa-lg">
						
						<i class="fa fa-twitter fa-stack-1x"></i> 
					</span> <a href="https://twitter.com/RefatRafi09" target="_blank">https://twitter.com/RefatRafi09</a>
				</li>

				<li>
					<span class="fa-stack fa-lg">

						<i class="fa fa-skype fa-stack-1x"></i> 
					</span><a>Refatrafi</a>
				</li>

				<li>
				 <span class="fa-stack fa-lg">

						<i class="fa fa-github fa-stack-1x"></i> 
					</span><a href="https://github.com/OnlyRefat" target="_blank">https://github.com/OnlyRefat</a> 
				</li>
			</ul>			
		</div>

		<div class="col-sm-6">
			<ul style="list-style: none;">
				<li>
				 <span class="fa-stack fa-lg">

						<i class="fa fa-facebook-square fa-stack-1x"></i> 
					</span><a href="https://www.facebook.com/vhoot.refat" target="_blank">https://www.facebook.com/vhoot.refat</a> 
				</li>

				<li>
					<span class="fa-stack fa-lg">

						<i class="fa fa-google-plus-square fa-stack-1x"></i>
					</span><a>rafiuddaularefat@gmail.com</a>
				</li>
				<li>
					<span class="fa-stack fa-lg">

						<i class="fa fa-linkedin-square fa-stack-1x"></i>
					</span><a>rafiuddaularefat@gmail.com</a>
				</li>
			</ul>
					


		</div>

		    <div class="divider" style="margin-bottom:50px; margin-left:25px; margin-right:50px; margin-top:40px"></div>

		    <div class="col-sm-4 col-sm-offset-4 text-center">
		    	<a href="https://twitter.com/RefatRafi09" class="twitter-follow-button" data-show-count="true" data-size="large">Follow @RefatRafi09</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script> 
		    </div>


	</div>


</div>