<div ng-controller="portfolioCtrl">



  <div class="row">

   <div class=" text-center">
    <h1 class="text-primary">Projects</h1> 
    <h3 class="text-primary">“You can do anything you set your mind to.”
      - Benjamin Franklin</h3>
      <div class="divider" style="margin-bottom:25px; margin-left:5px; margin-right:5px; margin-top:25px; width:100%"></div>
    </div>
  </div>

  <div class="row">
   <div class="col-sm-6 col-md-4" ng-repeat="pro in project">
    <div my-Style class="thumbnail">
      <img style="height:30vh; width:50vh" ng-src="{{pro.image[0]}}" >
      <div class="divider" style="width:100%"></div>
      <div class="caption">
        <h3>{{pro.name}}</h3>
        <p>{{pro.details}}</p>
        <p><a ng-href="{{pro.link}}" class="btn btn-primary" role="button" target="_blank">Project</a><button ng-click="toggleModal($index)" class="btn btn-default">Details</button></p>
      </div>
    </div>
  </div>

  <modal title="Snapshot" visible="showModal" >
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner " role="listbox">
        <div class="item active text-center" >
          <div class='col-sm-8 col-xs-offset-2'>
            <img ng-src="{{project[selected].image[0]}}">
          </div>
        </div>

        <div class="item text-center" >
          <div class='col-sm-8 col-xs-offset-2'>
            <img ng-src="{{project[selected].image[1]}}">
          </div>
        </div>

        <div class="item text-center" >
          <div class='col-sm-8 col-xs-offset-2'>
            <img ng-src="{{project[selected].image[2]}}">
          </div>
        </div>

      </div>

      <!-- Controls -->
      <Button class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </Button>

      <Button class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </Button>
    </div>

  </modal>

  
</div>


</div>