<div ng-controller="skillCtrl" class="row">

	<div class="col-xs-12 text-center ">
		<h1 class="text-primary">Skill</h1>
		<h3 class="text-primary"> “Life without knowledge is death in disguise.”
- Talib Kweli </h3>
	<div class="divider" style="margin-bottom:25px; margin-left:5px; margin-right:5px; margin-top:50px; width:100%"></div>
	
	</div>

	<div class="col-xs-12">
	<article >Development is as much art as science. Give five different software developers the same problem to solve and you will get five different solutions. Because software development does not follow a fixed set of rules or procedures, the engineers behind software projects deliver widely disparate software products. This means that companies working with remote teams will get different results from one solution provider to another. The Graph gives a view of my skills:<br></article>

	<div class="col-xs-8 col-sm-offset-2" style="width:80vh">
	<div class="text-center" >	
	<div  id="chartdiv" g-chart > </div>
	<p>This is Google Pic Chart</p>
	<div class="divider"> </div>

	</div>


	</div>



	</div>


</div>